# numpy 내장 함수

In [1]:
import numpy as np

In [2]:
# 평균 구하기
np.mean(range(1,11))

5.5

In [7]:
# 합계 구하기
np.sum(range(1,11))

55

In [4]:
# 표준편차 구하기
np.std(range(1, 11))

2.8722813232690143

In [8]:
# 표준편차 구하기
np.max(range(1, 11))

10

In [13]:
# 최소값 구하기
np.min(range(1,11))

1

In [14]:
# 중앙값
np.median(range(1,11))

5.5

# 사용자 정의 함수

In [15]:
# 매개변수가 없는 함수
def hiF():
    return "HI"

In [16]:
var = hiF()
print(var)

HI

In [17]:
# 매개 변수가 있는 함수
def test(x, y):
    return x + y

In [18]:
test(3,4)

7

In [19]:
# 함수에 입력되는 인수가 몇개인지 안 정해졌을 때
def sumManyF(*inputValue):
    sum1 = 0
    
    for i in inputValue:
        sum1 += i
    return sum1

In [20]:
sumManyF(1,2,3)

6

In [22]:
sumManyF(4,5,6,7,8)

30

In [24]:
# 여러개의 숫자를 입력받아 최대와 최소의 차이를 구하는 함수 만들기

def sumManyF2(*inputValue):
    gap = 0
    gap = np.max(inputValue) - np.min(inputValue)
    return gap

In [26]:
sumManyF2(3,5,10,23)

20

In [44]:
# 구구단에서 단과 곱해지는 수를 리스트로 입력받아 출력하는 함수

def gugu(x,y):
    
    for i in x:
        for j in y:
            print("%d X %d = %2d" %(i,j,i*j))
        print('---------------')

In [45]:
x = [2,5,8]
y = [6,7,8,9]

gugu(x,y)

2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
---------------
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
---------------
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
---------------

In [116]:
# 덧셈 기능과 곱셈 기능을 구분하여 숫자의 결과를 보여주는 함수

def sum_mulF(str, *num):
    
    if(str == 'sum'):
        resultSum = np.sum(num)
        print(resultSum)
        
    elif(str == 'mul'):
        resultMul = 1
        for i in num:
            resultMul *= i
            
        print(resultMul)
        
    else :
        print('WTF?')

In [117]:
sum_mulF('sum', 1,2,3,4,5)

15

In [118]:
sum_mulF('mul', 1,2,3,4,5)

120

In [119]:
sum_mulF('add', 1,2,3,4,5)

WTF?

In [120]:
def sum_mul(a, b):
    return a+b, a*b

In [121]:
sum_mul(3,4)

(7, 12)

In [124]:
return_sum, return_mul = sum_mul(3,4)
print(return_sum)
print(return_mul)

7
12

# 람다(lambda) 함수
보통 함수를 한 줄로 간결하게 만들 때 사용

return이 필요없다.

함수 명이 없는 함수.

In [125]:
def addFunction(a, b):
    return a + b

In [126]:
addFunction(10, 20)

30

In [128]:
addLambda = lambda a,b: a + b
addLambda(10, 20)

30