# 파일 읽고 쓰기
- 파일 객체 : open(파일 이름, 파일 열기 모드)
- 파일 열기 모드 : r(읽기 모드), w(쓰기 모드), a(추가 모드)

# 파일을 쓰기모드로 열어 출력 값 저장하기

In [4]:
# 루트 지정 후 파일 쓰기 모드로 오픈(Data 폴더는 직접 생성 해준다.)
f = open("./Data/new.txt", "w")

for i in range(1, 11):
    data = "%d번째 줄 입니다. \n" %i
    f.write(data)
f.close()

In [6]:
# 파일 읽기 모드로 내용 출력하기_1
f = open("./Data/new.txt", "r")

# True = default
while True:
    line = f.readline()
    if not line:
        break
    print(line)
    
f.close()

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [11]:
# 파일 읽기 모드로 내용 출력하기_2
f = open("./Data/new.txt", "r")
lines = f.readlines() # list 형식

for i in lines:
    print (i)
f.close()

<class 'list'>
1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [15]:
# 파일 읽기 모드로 내용 출력하기_3
f = open("./Data/new.txt", "r")
data = f.read()
print(data)

f.close()

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.
11번째 줄 입니다.12번째 줄 입니다.13번째 줄 입니다.14번째 줄 입니다.15번째 줄 입니다.16번째 줄 입니다.17번째 줄 입니다.18번째 줄 입니다.19번째 줄 입니다.

In [20]:
# 파일에 새로운 내용 추가하기
f = open("./Data/new.txt", "a")
for i in range(11, 20):
    data = "%d번째 줄 입니다.\n" %i
    f.write(data)
f.close()

In [21]:
# 파일 읽기 모드로 내용 출력하기_3
f = open("./Data/new.txt", "r")
data = f.read()
print(data)

f.close()

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.
11번째 줄 입니다.
12번째 줄 입니다.
13번째 줄 입니다.
14번째 줄 입니다.
15번째 줄 입니다.
16번째 줄 입니다.
17번째 줄 입니다.
18번째 줄 입니다.
19번째 줄 입니다.

# with문
: 파일의 열고 닫음을 자동으로 처리하기 위해 사용되며 with문을 벗어나면 자동으로 close()

요즘은 이렇게 쓴다. (Fashion!)

In [25]:
# 파일 만들기
with open("./Data/new2.txt", "w") as f:
    for i in range(1, 11):
        data = "%d번째 줄 입니다.\n" %i
        f.write(data)

In [26]:
#파일 읽어오기
with open("./Data/new2.txt", "r") as f:
    data = f.read()
    print(data)

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

# Pandas로 불러오기

In [28]:
import pandas as pd

In [32]:
txtSample = pd.read_table("./Data/new.txt", header = None)
txtSample.head()

# txtSample

             0
0  1번째 줄 입니다.
1  2번째 줄 입니다.
2  3번째 줄 입니다.
3  4번째 줄 입니다.
4  5번째 줄 입니다.

In [33]:
txtSample.tail()

              0
14  15번째 줄 입니다.
15  16번째 줄 입니다.
16  17번째 줄 입니다.
17  18번째 줄 입니다.
18  19번째 줄 입니다.

# 외장 함수

# time.sleep : 일정시간 간격으로 Loop를 실행

In [34]:
import time

for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [35]:
import calendar
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [36]:
print(calendar.prmonth(2021, 7))

     July 2021
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
None

In [37]:
print(calendar.weekday(2021, 7,1))

3

In [38]:
print(calendar.monthrange(2021, 7))

(3, 31)

In [39]:
# web browser
import webbrowser
webbrowser.open("https://www.naver.com")

True