## range 함수
range(시작 숫자, 끝 숫자, 증가 값)

In [1]:
var = range(1, 11)
print (var)

range(1, 11)

In [2]:
#range 범위를 list로 출력

list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [5]:
list (range(10, 0, -2))

[10, 8, 6, 4, 2]

In [7]:
list (range(0, 10, -2))
# 잘못 쓴 경우, 에러가 나오지 않고 빈 리스트만 생성이 된다.

[]

In [8]:
var[9]

10

In [11]:
var[7:9]

range(8, 10)

In [12]:
type (var)

range

### for 문에 range함수 사용하기

In [16]:
for i in range(1, 11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(11):
    print (i)

0
1
2
3
4
5
6
7
8
9
10

# 1부터 10까지의 수 중에서 홀수만 출력하기

In [20]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

# 구구단 9단 출력

In [43]:
num = 9

for i in range(1,10,1):
    result = num*i
    print(num, 'X', i, '=', '%2d' %result)

# %2d 두 자리 정수    
# %f 실수

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [48]:
print('aaa')
print('bbb')

print('aaa', end = ' ')
print('bbb')

aaa
bbb
aaa bbb

In [62]:
# 구구단 결과만 출력하기 (각 단 별로)

for i in range(2,10,1):
    print(i, '단 : ', end = '')
    
    for j in range(1,10,1):
        result = i*j
        print('%2d' %result, end = ' ')
        
    print('')

2 단 :  2  4  6  8 10 12 14 16 18
3 단 :  3  6  9 12 15 18 21 24 27
4 단 :  4  8 12 16 20 24 28 32 36
5 단 :  5 10 15 20 25 30 35 40 45
6 단 :  6 12 18 24 30 36 42 48 54
7 단 :  7 14 21 28 35 42 49 56 63
8 단 :  8 16 24 32 40 48 56 64 72
9 단 :  9 18 27 36 45 54 63 72 81

In [64]:
# 평균 구하기
scores = [78, 85, 95, 65]

total = 0
for score in scores:
    total += score
    
print(total / len(scores))

80.75

## for문에 Tuple사용하기

In [65]:
var = [(1,2), (3,4), (5,6)]
for first, last in var:
    print(first, ':', last)

1 : 2
3 : 4
5 : 6

In [66]:
sum1 = 0
for first, last in var:
    sum1 += first + last
    
print (sum1)

21

In [87]:
# 총 5명의 학생이 있는데, 시험 점수가 60점을 넘으면 합격, 그렇지 않으면 불합격이다.
# 합격, 불합격 결과 보여주기

scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if (scores[number] > 60):
        print(number+1, '의 학생은', '합격 입니다.')
    else:
        print(number+1, '의 학생은', '불합격 입니다.')

1 의 학생은 합격 입니다.
2 의 학생은 불합격 입니다.
3 의 학생은 합격 입니다.
4 의 학생은 불합격 입니다.
5 의 학생은 합격 입니다.

In [99]:
scores = [90, 25, 67, 45, 80]
number = 1

for score in scores:
    if (score > 60):
        print('%d의 학생은 합격 입니다.' %number)
        number += 1
    else:
        print('%d의 학생은 불합격 입니다.' %number)
        number += 1

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [103]:
scores = [90, 25, 67, 45, 80]
number = 1

for score in scores:
    if (score > 60):
        print('%d의 학생은 점수가 %2d이므로 합격 입니다.' %(number,score))
        number += 1
    else:
        print('%d의 학생은 점수가 %d이므로 불합격 입니다.' %(number,score))
        number += 1

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이므로 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이므로 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

# 학생들 점수의 평균을 구하여 평균점수 기준으로 합격, 불합격 보여주기

In [139]:
scores = [90, 25, 67, 45, 80]
number = 1 #학생번호
avg = 0.0 # 평균 점수
total = 0  # 학생들의 점수 총점

In [140]:
import numpy as np
np.mean(scores)

61.4

In [141]:
np.sum(scores)

307

In [142]:
avg = np.mean(scores)
total = np.sum(scores)

print('학급의 평균 점수는 %.2f 입니다.' %avg)
print('')

for score in scores:
    if (score > avg):
        print('%d의 학생은 점수가 %2d이므로 합격 입니다.' %(number,score))
        number += 1
    else:
        print('%d의 학생은 점수가 %d이므로 불합격 입니다.' %(number,score))
        number += 1

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이므로 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이므로 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

In [143]:
print('학급의 평균 점수는 %.2f 입니다.' %avg)
print('')        

for number in range(len(scores)):
    if (scores[number] > avg):
        print('%d의 학생은 점수가 %2d이므로 합격 입니다.' %(number+1,scores[number]))
        number += 1
    else:
        print('%d의 학생은 점수가 %d이므로 불합격 입니다.' %(number+1,scores[number]))
        number += 1

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이므로 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이므로 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

In [144]:
var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i * 5)
    
print(var02)

[5, 10, 15, 20]

# 파이썬의 listed for문

In [146]:
var01 = [1,2,3,4]
var02 = []

var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [202]:
# 위의 소스에서 짝수인 경우에만 5를 곱하는 리스트 만들기

var01 = [1,2,3,4]
var02 = []

var02 = [i * 5 for i in var01 if i%2 == 0]
var02

[10, 20]

# 구구단 결과만 리스트로 만들기 (2단 ~ 9단)

In [183]:
var02 = [i * j for j in range(1,10) for i in range(2, 10)]
print(var02)

[2, 3, 4, 5, 6, 7, 8, 9, 4, 6, 8, 10, 12, 14, 16, 18, 6, 9, 12, 15, 18, 21, 24, 27, 8, 12, 16, 20, 24, 28, 32, 36, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 54, 14, 21, 28, 35, 42, 49, 56, 63, 16, 24, 32, 40, 48, 56, 64, 72, 18, 27, 36, 45, 54, 63, 72, 81]

In [201]:
# 60점 이상의 학생 점수만 list로 해서 평균 구하기
scores = [90, 25, 67, 45, 80]
passList = []

passList = [i for i in scores if i > 60]
print("합격한 학생들의 평균 점수는 %.2f입니다." %np.mean(passList))

합격한 학생들의 평균 점수는 79.00입니다.